<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <% if (userSecrets[0].length > 0) { %>
      <h1 class="display-3">You've Discovered My Secret!</h1>
    <% } else { %> 
      <h1 class="display-3">Ooops!</h1>
      <h1 class="display-4">No one has submmited a secret so far.</h1>
    <% } %>
    <% userSecrets.forEach(secrets => { %>
      <% secrets.map(s => { %>
        <p class="secret-text"><%=s%></p>
      <% }) %>
    <% }); %>
    <hr>
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>
